@font-face {
  font-family: 'ShrekFont';
  src: url('./fonts/shrek.ttf') format('truetype');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'ShrekFont', sans-serif;

  color: #f0fce5;
  background-color: #78866B;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

main img {
  display: flex;
  
  width: 276px;
  height: 276px;
  
  border-radius: 12px;

  object-fit: cover;
}

footer {
  display: flex;
  text-align: center;
  color: #f0fce5;
  border-radius: 12px;
  
  margin-top: 24px;
  padding-inline: 8px;
}