@font-face {
  font-family: 'ShrekFont';
  src: url('./fonts/shrek.ttf') format('truetype');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'ShrekFont', sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;

  color: #030303;
}

main img {
  display: flex;
  
  width: 283px;
  height: 283px;
  
  border-radius: 12px;

  object-fit: cover;
}

footer {
  color: #2d3822;
  border-radius: 12px;
  
  margin-top: 24px;
  padding-inline: 8px;

}